{% extends 'base.html.twig' %}

{% block title %}Dossier Médical{% endblock %}

{% block content %}
    

    <div class="mb-5">
        <a href="{{ path('app_dossiermedical_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_dossiermedical_edit', {'id': dossiermedical.id}) }}" class="btn btn-primary">Modifier</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossiermedical.id }}</td>
            </tr>
            <tr>
                <th>Groupe sanguin</th>
                <td>{{ dossiermedical.groupesang }}</td>
            </tr>
            <tr>
                <th>Maladie chronique</th>
                <td>{{ dossiermedical.maladiechronique }}</td>
            </tr>
            <tr>
                <th>Résultat analyse</th>
                <td>{{ dossiermedical.Resultatanalyse }}</td>
            </tr>
        </tbody>
    </table>

    {# Utilisez la méthode include pour inclure le formulaire de suppression #}
    {{ include('dossiermedical/_delete_form.html.twig') }}
{% endblock %}
